.plus-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.plus-sign {
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.delete-template-btn-x {
    position: absolute;
    top: 8px;
    right: 8px;
    background: none;
    color: #dc3545;
    border: none;
    border-radius: 0;
    width: 28px;
    height: 28px;
    font-size: 22px;
    line-height: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: color 0.2s;
    z-index: 2;
}

.delete-template-btn-x:hover {
    color: #a71d2a;
}

.edit-template-btn, .delete-template-btn-x {
    background: none;
    border: none;
    color: #6a008a;
    font-size: 20px;
    cursor: pointer;
    padding: 4px 8px;
    transition: color 0.2s, background 0.2s;
    border-radius: 4px;
}

.edit-template-btn:hover {
    color: #fff;
    background: #6a008a;
}

.delete-template-btn-x:hover {
    color: #fff;
    background: #d32f2f;
}