.search-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
    border: 1px solid var(--lightgray);
    border-radius: 20px;
    padding: 8px 15px;
    background-color: var(--lightgray2);
}

.search-container input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 200px;
}

.search-container .search-icon {
    font-size: 18px;
    color: #888;
    margin-right: 8px;
}

.template_box .professor-name {
    font-weight: bold;
    color: #444;
    margin-top: 10px;
}

.template_box.respondido {
    opacity: 0.6;
    pointer-events: none;
    cursor: not-allowed;
}