<!--Hello world-->

<!--<script>-->
<!--  alert('Hello from the test page!');-->
<!--</script>-->

<!--<div data-controller="hello">-->
<!--  asdadas-->
<!--</div>-->

<form id="dynamic-form">
  <div id=fields>
    <div class="name-fields">
      <input type="text" name="names[]" placeholder="Enter name" />
      <button type="button" class="delete-name"> Delete </button>
    </div>
    </div>
  <button type="button" id="add-name">Add name</button>
  <button type="submit"> Submit </button>
</form>

<script>

  function createNewField() {
      const wrapper = document.createElement("div");
      wrapper.className = "name-field";

      const input = document.createElement("input");
      input.type = "text";
      input.name = "names[]";
      input.placeholder = "Enter name";

      const delBtn = document.createElement("button");
      delBtn.type = "button";
      delBtn.className = "delete-name";
      delBtn.textContent = "Delete";

      delBtn.addEventListener("click", function() {
          wrapper.remove();
      });

      wrapper.appendChild(input);
      wrapper.appendChild(delBtn);

      return wrapper;

  }

  window.onload = function() {
      const fields = document.getElementById("fields");
      fields.innerHTML = "";
      fields.appendChild((createNewField()));
  }

  document.getElementById("add-name").addEventListener("click", function() {
      if(checkIfLastNameIsEmpty()) {
          alert("Please fill the last name before adding a new one.");
          return;
      }

      document.getElementById("fields").appendChild(createNewField());

  })

  document.getElementById("dynamic-form").addEventListener("submit", function(e) {
      e.preventDefault();

      if(checkIfLastNameIsEmpty()) {
          alert("Please fill the last name before submitting.");
          return;
      }

      console.log(getNames());
  });

  function getNames() {
    const inputs = document.querySelectorAll('input[name="names[]"]');
    return Array.from(inputs).map(input => input.value);
  }

  function checkIfLastNameIsEmpty() {
    const names = getNames();
    return names[names.length - 1] === "";
  }

</script>